In [1]:
#import dependancies
import pandas as pd
import numpy as np
import requests 
import time 
import json

from census_key import api_key

In [9]:
markets_df = pd.read_csv('Markets_for_api.csv', encoding = "ISO-8859-1", dtype=str)

In [10]:
markets_df.head(20)

,Market_id,Market_name,Market_state,State_code,FIPS_code,Lat,Long
0,1,Albany,NY,36,36001,42.6526,\t-73.7562
1,2,Atlanta,GA,13,13121,\t33.753746,\t-84.386330
2,3,Baltimore,MD,24,24510,\t39.299236,\t-76.609383
3,4,Boise,ID,16,16015,\t43.618881,\t-116.215019
4,5,Boston,MA,25,25025,\t42.361145,\t-71.057083
5,6,Buffalo,NY,36,36029,\t42.880230,\t-78.878738
6,7,Charlotte,NC,37,37119,\t35.227085,\t-80.843124
7,8,Chicago,IL,17,17031,\t41.881832,\t-87.623177
8,9,Cincinnati,OH,39,39061,\t39.103119,\t-84.512016
9,10,Columbus,OH,39,39049,\t39.983334,\t-82.983330
10,11,Dallas,TX,48,48113,\t32.779167,\t-96.808891
11,12,Denver,CO,08,08031,\t39.742043,\t-104.991531
12,13,Detroit,MI,26,26163,\t42.331429,\t-83.045753
13,14,Grand Rapids,MI,26,26081,\t42.963795,\t-85.670006
14,15,Harrisburg,PA,42,42043,\t40.263680,\t-76.890739
15,16,Hartford,CT,09,09003,\t41.763710,\t-72.685097
16,17,Houston,TX,48,48225,\t29.749907,\t-95.358421
17,18,Indianapolis,IN,18,18053,\t39.791000,\t-86.148003
18,19,Jacksonville,FL,12,12031,\t30.332184,\t-81.655647
19,20,Las Vegas,NV,32,32003,\t36.114647,\t-115.172813

In [11]:
markets_df["County_code"]=""

for index, row in markets_df.iterrows():
    FIPS = markets_df.loc[index,"FIPS_code"]
    county_code = FIPS[2:5]
    markets_df.loc[index,"County_code"] = county_code
    
#markets_df.head()

In [12]:
##Create holders for Total Population, White Alone Population, Age 20-24, Age 25 - 29, Age 30 - 34, Age 35 - 39 and Median Income
markets_df["Total_population"]=""
markets_df["Non_White_pop"]=""
markets_df["Diversity%"]=""
markets_df["Millenial_pop"]=""
markets_df["Millenial%"]=""
markets_df["Median_income"]=""

#markets_df.tail()
#There are 42 markets, just FYI

In [13]:
print("Log Start")
print("--------------------------")

for index, row in markets_df.iterrows():
    
    #set needed variables
    county = markets_df.loc[index, "County_code"]
    state = markets_df.loc[index, "State_code"]
    data = "B01001_001E,B01001A_001E,B01001_032E,B01001_033E,B01001_034E,B01001_035E,B01001_036E,B01001_037E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_013E,B06011_001E"
        
    query_url = "http://api.census.gov/data/2015/acs/acs1?get=" + str(data) + "&for=county:" + str(county) + "&in=state:" + str(state) + "&key=" + str(api_key)
    
    try:
        response = requests.get(query_url).json()
    
        census_data = response[1]

        for i in range(0, len(census_data)): 
            census_data[i] = int(census_data[i]) 

        print(markets_df.loc[index,"Market_id"])
        
        try:
            #sum all age data
            all_females = sum(census_data[2:8])
            all_males = sum(census_data[8:14])
            millenials = all_females + all_males
            
            total_pop = census_data[0]
            white_pop = census_data[1]
            
            non_white = total_pop - white_pop
            #print(total_pop, non_white)
            
            diversity = non_white/total_pop
            #print(diversity)

        except:
            print('error with conversion')
        
        try:
            markets_df.loc[index, "Total_population"] = total_pop
            markets_df.loc[index, "Non_White_pop"]= non_white
            markets_df.loc[index,"Diversity%"]= diversity
            markets_df.loc[index,"Millenial_pop"]= millenials
            markets_df.loc[index,"Millenial%"]= millenials/total_pop
            markets_df.loc[index,"Median_income"]=census_data[14]
        
        except:
            print('error with api call')
            
    except:
        print(query_url)


print("---------------")
print("Log End")

Log Start
--------------------------
1
309381 72307
0.2337150633038228
2
1010562 552714
0.5469372487784026
3
621849 428817
0.6895838057148922
http://api.census.gov/data/2015/acs/acs1?get=B01001_001E,B01001A_001E,B01001_032E,B01001_033E,B01001_034E,B01001_035E,B01001_036E,B01001_037E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_013E,B06011_001E&for=county:015&in=state:16&key=5b32564c5f4ebf42969c99f2ac96affff18bb411
5
778121 346209
0.4449295161035366
6
922578 204284
0.22142734814834084
7
1034070 446958
0.4322318605123444
8
5238216 2286827
0.43656599880570024
9
807598 256893
0.31809514139460476
10
1251722 398306
0.31820643880989546
11
2553385 963165
0.37721103554693086
12
682545 156117
0.22872777619058085
13
1759335 817368
0.46458917716068854
14
636369 128703
0.2022458667848371
15
272983 75996
0.27839096207456143
16
895841 251852
0.281134710288991
http://api.census.gov/data/2015/acs/acs1?get=B01001_001E,B01001A_001E,B01001_032E,B01001_033E,B01001_034E,B01001_035E,B01001_036E,B01001_037E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_013E,B06011_001E&for=county:225&in=state:48&key=5b32564c5f4ebf42969c99f2ac96affff18bb411
18
67979 7882
0.1159475720443078
19
913010 355225
0.3890702182889563
20
2114801 800065
0.3783169196534331
21
10170292 4884940
0.48031462616805887
22
763623 207848
0.27218666802859526
23
2693117 660236
0.24515682014557852
24
678889 244928
0.3607776823604448
25
389617 255613
0.6560622354774047
26
474558 119699
0.25223260381238966
27
1288126 458252
0.3557509125660067
28
1567442 910291
0.5807493993398161
29
4167947 910774
0.21851861360041286
30
1230459 240332
0.19531898259104935
31
790294 166985
0.21129478396647325
32
1024198 341763
0.33368840790550264
33
220289 121425
0.55120773166159
34
99897 35010
0.35046097480404814
35
1501335 603410
0.40191562842403594
36
3299521 964141
0.29220635358889974
37
864816 455455
0.5266495994523691
38
2117125 721286
0.34069126763889707
39
490945 55542
0.1131328356536883
40
315685 167788
0.5315045060740928
41
468463 93373
0.1993177689593415
42
1349050 403437
0.2990526666913754
http://api.census.gov/data/2015/acs/acs1?get=B01001_001E,B01001A_001E,B01001_032E,B01001_033E,B01001_034E,B01001_035E,B01001_036E,B01001_037E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_013E,B06011_001E&for=county:&in=state:0&key=5b32564c5f4ebf42969c99f2ac96affff18bb411
---------------
Log End

In [14]:
#markets_df.head(10)

,Market_id,Market_name,Market_state,State_code,FIPS_code,Lat,Long,County_code,Total_population,Non_White_pop,Diversity%,Millenial_pop,Millenial%,Median_income
0,1,Albany,NY,36,36001,42.6526,\t-73.7562,001,309381,72307,0.233715,91932,0.297148,30395
1,2,Atlanta,GA,13,13121,\t33.753746,\t-84.386330,121,1010562,552714,0.546937,315955,0.312653,32192
2,3,Baltimore,MD,24,24510,\t39.299236,\t-76.609383,510,621849,428817,0.689584,206786,0.332534,26090
3,4,Boise,ID,16,16015,\t43.618881,\t-116.215019,015,,,,,,
4,5,Boston,MA,25,25025,\t42.361145,\t-71.057083,025,778121,346209,0.44493,312964,0.402205,29770
5,6,Buffalo,NY,36,36029,\t42.880230,\t-78.878738,029,922578,204284,0.221427,244764,0.265304,29181
6,7,Charlotte,NC,37,37119,\t35.227085,\t-80.843124,119,1034070,446958,0.432232,320111,0.309564,31132
7,8,Chicago,IL,17,17031,\t41.881832,\t-87.623177,031,5238216,2286827,0.436566,1580354,0.301697,29951
8,9,Cincinnati,OH,39,39061,\t39.103119,\t-84.512016,061,807598,256893,0.318095,220814,0.273421,28142
9,10,Columbus,OH,39,39049,\t39.983334,\t-82.983330,049,1251722,398306,0.318206,402228,0.32134,30017

In [15]:
markets_df.to_csv("Markets_demo_2015.csv")